<!DOCTYPE HTML>
<html>
	<head>
		<title>Web Development Solutions</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="/">Tal Thatcher - Web Development Solutions</a></h1>
						<nav class="links">
							<ul>
								<li><a href="#about">About Me</a></li>
								<li><a href="#develop">Website Development Information</a></li>
								<li><a href="#portfolio">My Portfolio</a></li>
								<li><a href="/commission">Commission a Website</a></li>
							</ul>
						</nav>
					
					</header>

				<!-- Main -->
					<div id="main">

						<!-- Post -->
							<article class="post">
								<header>
									<div class="title">
										<h2>Tal Thatcher - Software Engineer. Your Web Development Solution.</h2>
										<p>I build sleek, responsive websites, servers, and fullstack applications on commission.</p>
										<p>		
									</div>				
								</header>
								<div id="about">
									<h2>About Me</h2>
								
									<img id="portraitimage" class = "image featured" src="images/pic06.jpg" alt="fail" /></a>
									<p>Hi, I'm Tal Thatcher, the Fullstack Software Engineer behind your next website. My mission is to build fast, modern, high performance websites which work great across mobile and PC browsing. Check out my portfolio below, and send a request to commission your own business's website!</p>
									<a class="button large" href ="#portfolio">My Portfolio</a>
									<a class="button large" href = "#develop">Learn more</a>
								</div>
							</article>

						<!-- Post -->
							<article class="post">
								<header>
									<div class="title">
										<h2 id="develop">Website Development</h2>
										
									</div>
									
								</header>								
								<p class = "description">I build both front and back end websites and applications - both websites and servers. Whatever your needs are, we can get a solution custom built for you!</p>
								<p>Need help figuring out what you want? Here are some common business needs for website design.</p>
								<ul>
									<li>Online payment and customer shop functionality</li>
									<li>Display of menu or services</li>
									<li>Contact information - phone, address, email, or via direct website functionality.
									<li>Specialized database containing customer information such as order history, order validation, account information, customer history, and more, depending upon your business needs.</li>
									<li>A smooth, sleek, responsive look which works, looks, and feels good to use for both PC and mobile users and displays your products and services to prospective customers</li>
								</ul>
								<p>Need something specific to your business? Request it in your commission. I'll build you the website and tools your business needs to succeed.</p>
									
								<footer>
									<ul class="actions">
										<li><a href="/commission" class="button large">Fill Out a Commission request here</a></li>
									</ul>
								</footer>
							</article>		
						</div>
				<!-- Sidebar -->
					<section id="sidebar">
						<!-- Intro -->
							<section id="intro">
								<!--https://uxwing.com/web-development-icon/ Free to use without attribution or credit-->
								<a href="/" class="logo"><img class = "imglogo" src="images/web-development-icon.png" alt="" /></a>
								<header class = "center">
									<h2>Commission Your Web Development Solution Today!</h2>
									<a class="button large" href ="/commission">Submit a commission here</a>
								</header>
							</section>

						<!-- Mini Posts -->
							<section>
								<div class="mini-posts">

									<!-- Mini Post -->
										<article class="mini-post">
											<header>
												<h3><a href="#">Portfolio Site #1 Placeholder</a></h3>	
												
											</header>
											<a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
										</article>

									<!-- Mini Post -->
										<article class="mini-post">
											<header>
												<h3><a href="#">Portfolio Site #2 Placeholder</a></h3>		
											</header>
											<a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
										</article>

									<!-- Mini Post -->
										<article class="mini-post">
											<header>
												<h3><a href="#">Portfolio Site #3 Placeholder</a></h3>
												</a>
											</header>
											<a href="#" class="image"><img src="images/pic06.jpg" alt="" /></a>
										</article>

									<!-- Mini Post -->
										<article class="mini-post">
											<header>
												<h3><a href="#">Portfolio Site #4 Placeholder</a></h3>
												
											</header>
											<a href="#" class="image"><img src="images/pic07.jpg" alt="" /></a>
										</article>

								</div>
							</section>
						</section>
					</div>
					<section class = "portfoliopost">
						<section class="post">
							<header id = "portfolio">
								<div class="title">
									<h2><a href="#">My Portfolio of Websites</a></h2>
									<p>Take a look at some of my past projects</p>
								</div>
							
							</header>
							<a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
						
							<footer>
								<ul class="actions">
									<li><a href="#" class="button large">Go to Portfolio</a></li>
								</ul>
								
							</footer>
						</section>
					</section>
						<!-- Footer -->
						<section id="footer" class = "bottomfooter">
							<ul class="icons">
								<li><a href="https://twitter.com/Tal_Thatcher" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="https://github.com/TalThatcher" class="github"><span class = "label">GitHub</span></a></li>
								<li>
									<a href="https://www.linkedin.com/in/tal-thatcher234/" class="linkedin"><span class = "label">Linkedin</span></a>
								
								</li>
								
							</ul>
							<p class="copyright">&copy; Future Imperfect: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
						</section>	
					</section>	

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
	<!--
	Future Imperfect by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
</html>